<div>
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="/sneakers/"><img
          src="../../public/images/LP1.jpeg"
          class="d-block w-100"
          alt="Air Force 1"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>WELCOME</h5>
          <p>The new WORLD of Sneakers</p>
        </div>/a>
        
      </div>
      <div class="carousel-item">
        <img
          src="../../public/images/LP2.jpeg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>BUY</h5>
          <p>Buy your favorite kicks</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="../../public/images/LP3.jpeg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>SELL</h5>
          <p>Sell your own sneakers</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

{{!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="d-block w-100"
        src="../../public/images/LP1.jpeg"
        alt="First slide"
      />
      {{! <div class="carousel-caption d-none d-md-block">
        <h5>Welcome to the New World of SNEAKERS</h5>
        <p>Get your hands on the latest sneaker collection</p>
      </div> }}
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="../../public/images/LP2.jpeg"
        alt="Second slide"
      />
      {{! <div class="carousel-caption d-none d-md-block">
        <h5>BUY</h5>
        <p>Buy the best sneakers in the game</p>
      </div> }}
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="./../public/images/LP3.jpeg"
        alt="Third slide"
      />
      {{! <div class="carousel-caption d-none d-md-block">
        <h5>SELL</h5>
        <p>Sell your old pair of sneakers</p>
      </div> }}
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="./../public/images/LP4.jpeg"
        alt="Fourth slide"
      />
      {{! <div class="carousel-caption d-none d-md-block">
        <h5>REVIEW</h5>
        <p>Tell us how you liked the products</p>
      </div> }}
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    {{! <span class="sr-only">Previous</span> }}
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    {{! <span class="sr-only">Next</span> }}
  </a> --}}
</div>