<div>
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="/sneakers/"><img
            src="../../public/images/LP1.jpeg"
            class="d-block w-100"
            alt="Air Force 1"
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>WELCOME</h5>
            <p>The new WORLD of Sneakers</p>
          </div></a>

      </div>
      <div class="carousel-item">
        <a href="/sneakers/">
          <img
            src="../../public/images/LP2.jpeg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>BUY</h5>
            <p>Buy your favorite kicks</p>
          </div></a>
      </div>
      <div class="carousel-item">
        <a href="/sneakers/sell">
          <img
            src="../../public/images/LP3.jpeg"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <h5>SELL</h5>
            <p>Sell your own sneakers</p>
          </div>
        </a>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>