<form method="post" action="/sneakers/listedByUpdate/{{_id}}">
  <label for="brandName">Brand Name:</label><br />
  <input type="text" id="brandName" name="brandName" /><br />
  <label for="modelName">Model Name:</label><br />
  <input type="text" id="modelName" name="modelName" /><br />
  <label for="sizesAvailable">Sizes need to be Updated:</label><br />
  <label for="size7">7: </label><br />
  <input type="number" id="size7" name="size7" value="0" /><br />
  <label for="size8">8: </label><br />
  <input type="number" id="size8" name="size8" value="0" /><br />
  <label for="size9">9: </label><br />
  <input type="number" id="size9" name="size9" value="0" /><br />
  <label for="size10">10: </label><br />
  <input type="number" id="size10" name="size10" value="0" /><br />
  <label for="size11">11: </label><br />
  <input type="number" id="size11" name="size11" value="0" /><br />
  <label for="size12">12: </label><br />
  <input type="number" id="size12" name="size12" value="0" /><br />
  <label for="price">Price:</label><br />
  <input type="number" id="price" name="price" value="0" /><br />
  <label for="image">Images:</label><br />
  <input type="file" name="image" accept=".jpg, .jpeg, .png" /><br />
  <br />
  <input type="submit" value="UPDATE" />
</form>