<form>
  <label for="brandName">Brand Name:</label><br />
  <input type="text" id="brandName" name="brandName" /><br />
  <label for="modelName">Model Name:</label><br />
  <input type="text" id="modelName" name="modelName" />
  <label for="sizesAvailable">Sizes Available:</label><br />
  <input type="text" id="sizesAvailable" name="sizesAvailable" />
  <label for="price">Price:</label><br />
  <input type="text" id="price" name="price" />
  <label for="image">Images:</label><br />
  <input type="file" id="image" name="image" accept=".jpg, .jpeg, .png" />

  <input type="submit" value="LIST" />
</form>