<h1>Sneaker Updated Successfully</h1>
<div>
  <a href="/sneakers" id="homepageLink" class="btn btn-secondary"">Go to Home page</a>
</div>
{{! <form method="post" action="/sneakers/">
  <button>Go to Home page</button>
</form> }}