<div class="row align-items-center justify-content-center g-0 min-vh-100">
    <div class="col-lg-5 col-md-8 py-8 py-xl-0">
        <!-- Card -->
        <div class="card shadow ">
            <!-- Card body -->
            <div class="card-body p-6">
                <div class="mb-4">
                    <h1 class="mb-1 fw-bold">Sneaker Updated Successfully!</h1>
                    <span><a href="/sneakers/listedBy" class="ms-1">Go back to your sneakers</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
