<form
  id="sell-form"
  method="post"
  action="/sneakers/photo/upload"
  enctype="multipart/form-data"
>
  <label for="brandName">Brand Name:</label><br />
  <input type="text" id="brandName" name="brandName" /><br />
  <label for="modelName">Model Name:</label><br />
  <input type="text" id="modelName" name="modelName" />
  <label for="sizesAvailable">Sizes Available:</label><br />
  <input type="text" id="sizesAvailable" name="sizesAvailable" />
  <label for="price">Price:</label><br />
  <input type="text" id="price" name="price" />

  {{! <form
  method="post"
  action="/sneakers/photo/upload"
  enctype="multipart/form-data"
> }}
  <label for="image">Images:</label><br />
  <input type="file" name="image" accept=".jpg, .jpeg, .png" />
  <button type="submit"> Submit form </button>
  {{! <input type="submit" value="UPLOAD" /> }}
</form>