<h1>{{ title }}</h1>
<main>
    <form action="/users/signup" method="POST" id="signup-form">
        <div class="mb-3">
            <label for="email">Email:</label>
            <input type="email" name="email" value="{{ email }}" id="email" class="form-control"
                   placeholder="Enter email">
        </div>
        <div class="mb-3">
            <label for="password">Password:</label>
            <input type="password" name="password" value="{{ password }}" id="password" class="form-control"
                   placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Sign Up!</button>
    </form>
    {{#if hasErrors}}
        {{#each errors}}
            <div class="alert alert-danger" role="alert">
                {{this}}
            </div>
        {{/each}}
    {{/if}}
    <a href="/users/login" class="link-primary">Already have an account? Click here to log-in</a>
</main>
